.centre {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.landing {
  display: flex;
  justify-content: center;
  animation: fadeIn 5s; 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

/*.videoWrapper {
	position:relative;
  	display: flex;
  	justify-content: center;
	padding-bottom: 56.25%; / 16:9 /
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
}*/

iframe {
   display: block;
   margin: 0 auto;
   height: 630px;
   width: 1120px;
   margin-bottom: 11px;
   margin-top: 11px;
}

.backButton {
  text-align: center;
  margin: 4px 0px 4px 0px;
  color: #4c4c4c;
}

.backButton a:link { 
  color: #4c4c4c;
  font-weight: bold; 
  }

p,span {
  color: white;
  margin: auto;
  position: relative;
  background-color: transparent;
}

body {
   background-color: #0f0f0f;
   margin: 11px 11px 11px 11px;
   font-family: 'Merriweather';
   font-style: oblique;
}

img {
    max-width: 100%;
    max-height: 89vh;
    display: block;
    margin-top: 11px;
    margin-bottom: 11px;
}

/* BLOCK HOVER LINKS

a:link, a:visited {
  text-align: center;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}

*/

/* FADE HOVER LINKS*/
a {
  color:#4c4c4c;
  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
a:hover { color:white; }

h3{
  color: white;  
}

h1 {
  font-size: 222px;
  margin-bottom: 11px;
  margin-top: 11px;
  color:#4c4c4c;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
h1:hover { color:#ffffff; }
